<div class="container mt-5">

  <div class="error-status text-center">
    error status : {{error.status}}
  </div>

  <div class="error-message text-center">
    error message : {{error.message}}
  </div>

  <div class="text-center mt-5">
    <a class="btn btn-success" href="/">回到清單</a>
  </div>

</div>